.el-form-item{
  margin: 10px !important;
}

.el-input__inner{
  width: 80%;
}

.el-input .el-date-editor{
  width: 80px !important;
}

.el-button:focus, .el-button:hover {
  color: #FA7268 !important;
  border-color: #FA7268 !important;
  background-color: #FFFFFF !important;
}

.el-button--primary {
  background-color: #FA7268 !important;
  border-color: #FA7268 !important;
  color: #FFFFFF !important;
}

.el-button--text {
  margin-top: 10px !important;
  color: red !important;
}

.el-menu-item.is-active {
  color: #FA7268 !important;
}

.el-menu--horizontal>.el-menu-item:hover {
  background-color: #000000 !important;
  color: #FA7268 !important;
  border-bottom: 5px solid #FA7268 !important;
}
.el-menu--dark {
  background-color: #000000 !important;
  color: #FA7268 !important;
}

.topNav {
  height: 60px;
}
.bg-light {
  background-color: #000000 !important;
}

.left-modules {
  padding: 10px;
  border-bottom: 1px solid lightgray !important;
}

.navbar-brand {
  float: left;
  height: 59px;
  width: 180px;
  padding-top: 18px;
  padding-left: 18px;
  color: #ffffff !important;
}

.nav-link {
  float: right;
  color: #FFFFFF !important;
  font-size: 21px ;
  padding-top: 21px;
  padding-bottom: 11px;
  font-family: 'Thasadith', sans-serif;
}

.nav-link:hover {
  text-align: center;
  /* padding-top: 21px; */
  height: 60px;
  padding-bottom: 8px;
  color: #FA7268 !important;
  background-color: transparent !important;
  border-bottom: 3px #FA7268 solid !important;
}

.navbar-brand {
  color: #FA7268 !important;
}
.LeftPanel {
  margin: 20px;
  margin-right: 0px;
  padding:10px;
  float:left;
  height: 88vh;
  /* resize: horizontal; */
  overflow-y: scroll;
  /* min-width: 300px; */
  border: 1px #FA7268 solid;
  border-radius: 4px;
}
.RightPanel {
  margin: 20px;
  margin-left: 0px;
  /* padding:10px; */
  /* float:right; */
  height: 88vh;
  resize: horizontal;
  overflow-y: scroll;
  /* min-width: 300px; */
  border: 1px lightgray solid;
} 

.right-panel-body {
  margin: 10px 20px;
  background-color: azure;
}

.expanded {
  width:100%;
  height: 600px;
  /* border: 1px black solid; */
}

.contact-div {
  margin: 40px;
  /* border: 1px black solid; */
  position: absolute;
}

/* .WorkUnit {
  border-bottom: 1px #FA7268 solid;
  border-right: 1px #FA7268 solid;
  border-radius: 4px;
  padding: 5px;
} */

.job-description{
  width: 88%;
  float : left;
}

.contact-link{
  width: 88%;
  float : left;
}

.courses{
  width: 88%;
  float : left;
}
/* ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
} */

/* ::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(122,153,217)),
                                       color-stop(0.72, rgb(73,125,189)),
                                       color-stop(0.86, rgb(28,58,148)));
} */
