/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.topNav {
  height: 60px;
}
.bg-light {
  background-color: #000000 !important;
}

.navbar-brand {
  float: left;
  height: 59px;
  width: 100px;
  padding-top: 18px;
  padding-left: 18px;
  color: #ffffff !important;
}

.nav-link {
  float: right;
  color: #FFFFFF !important;
  font-size: 21px ;
  padding-top: 21px;
  padding-bottom: 11px;
  font-family: 'Thasadith', sans-serif;
}

.nav-link:hover {
  text-align: center;
  /* padding-top: 21px; */
  height: 60px;
  padding-bottom: 8px;
  color: #FA7268 !important;
  background-color: transparent !important;
  border-bottom: 3px #FA7268 solid !important;
}

.navbar-brand {
  color: #FA7268 !important;
}
.LeftPanel {
  margin: 30px;
  padding:10px;
  float:left;
  resize: horizontal;
  overflow: auto;
  min-width: 300px;
  border-radius: 2px;
}
.RightPanel {
  /* margin: 20px; */
  padding:10px;
  /* float:right; */
  resize: horizontal;
  overflow: auto;
  min-width: 300px;
  border-radius: 2px;
} 

p {
  height: 100%;
}

/* i {
  float:left;
  display: inline-block;
  padding: 3px;
} */

.triangle-left {
  margin: auto;
	width: 10px;
	height: 30px;
  background-color: #333333;
  float: left;
  margin-top: 30px;
	/* border-top: 20px solid transparent;
	border-right: 15px solid #333333;
	border-bottom: 20px solid transparent; */
}

.triangle-right {
	width: 10px;
	height: 30px;
  float: right;
  background-color: #333333;
	/* border-top: 20px solid transparent;
	border-left: 15px solid #333333;
	border-bottom: 20px solid transparent; */
}

.expanded {
  width:100%;
  height: 600px;
  /* border: 1px black solid; */
}

.ContactList {
  border: 1px black solid;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(122,153,217)),
                                       color-stop(0.72, rgb(73,125,189)),
                                       color-stop(0.86, rgb(28,58,148)));
}
